* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 64px 158px 268px 158px;
}

#layout {
    max-width: 1604px;
    width: 100%;
    height: 2208px;
    background: #FFAEAF;
    margin: auto;
    padding: 96px;
}

#container {
    background-color: #fff;
    max-width: 1412px;
    width: 100%;
    height: 2016px;
    padding: 96px 66px;
}

#box_one {
    text-align: center;
}

#box_p {
    color: #ED00A6;
    text-align: center;
    
    /* Text md/Semibold */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    margin-bottom: 12px;
}

h1 {
    color: #181D27;
    text-align: center;
    
    /* Display lg/Semibold */
    font-family: var(--Font-family-font-family-display, Inter);
    font-size: var(--Font-size-display-lg, 48px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-display-lg, 60px); /* 125% */
    letter-spacing: -0.96px;
    margin-bottom: 24px;
}

#box_p_two {
    color: #535862;
    text-align: center;
    
    /* Text xl/Regular */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-xl, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-xl, 30px); /* 150% */
}

#box_two {
    max-width: 1280px;
    width: 100%;
    height: 462px;
    margin-top: 96px;
}

#box_two_left {
    background-image: url(Image.jpg);
    display: inline-block;
    max-width: 600px;
    width: 100%;
    height: 462px;
}

#box_three {
    max-width: 1280px;
    width: 100%;
    height: 462px;
    margin-top: 96px;
}

#box_three_right {
    background-image: url(Image-two.jpg);
    display: block;
    max-width: 600px;
    width: 100%;
    height: 462px;
    margin-left: auto;
}

#box_four {
    max-width: 1280px;
    width: 100%;
    height: 462px;
    margin-top: 96px;
}

#box_four_left {
    background-image: url(Image-three.jpg);
    display: inline-block;
    max-width: 592px;
    width: 100%;
    height: 462px;
}